assets/wsdl/producao/DCeRecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeRecepcaoEvento" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeRecepcaoEvento">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeRecepcaoEvento" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeRecepcaoEvento">
			
  <s:element name="dceDadosMsg">
				
    <s:complexType mixed="true">
					
      <s:sequence>
						
        <s:any/>
					
      </s:sequence>
				
    </s:complexType>
			
  </s:element>
			
  <s:element name="dceRecepcaoEventoResult">
				
    <s:complexType mixed="true">
					
      <s:sequence>
						
        <s:any/>
					
      </s:sequence>
				
    </s:complexType>
			
  </s:element>
		
</s:schema>
  </wsdl:types>
  <wsdl:message name="dceRecepcaoEventoSoap12In">
    <wsdl:part element="tns:dceDadosMsg" name="dceDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dceRecepcaoEventoSoap12Out">
    <wsdl:part element="tns:dceRecepcaoEventoResult" name="dceRecepcaoEventoResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DCeRecepcaoEventoSoap12">
    <wsdl:operation name="dceRecepcaoEvento">
      <wsdl:input message="tns:dceRecepcaoEventoSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:dceRecepcaoEventoSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCeRecepcaoEventoSoap12" type="tns:DCeRecepcaoEventoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dceRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/dce/wsdl/DCeRecepcaoEvento/dceRecepcaoEvento" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCeRecepcaoEvento">
    <wsdl:port binding="tns:DCeRecepcaoEventoSoap12" name="DCeRecepcaoEventoSoap12">
      <soap12:address location="https://dce.fazenda.pr.gov.br/dce/DCeRecepcaoEvento"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>