assets/wsdl/producao/DCeStatusServico.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeStatusServico" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeStatusServico">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeStatusServico" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeStatusServico">
			
  <s:element name="dceDadosMsg">
				
    <s:complexType mixed="true">
					
      <s:sequence>
						
        <s:any/>
					
      </s:sequence>
				
    </s:complexType>
			
  </s:element>
			
  <s:element name="dceStatusServicoResult">
				
    <s:complexType mixed="true">
					
      <s:sequence>
						
        <s:any/>
					
      </s:sequence>
				
    </s:complexType>
			
  </s:element>
		
</s:schema>
  </wsdl:types>
  <wsdl:message name="dceStatusServicoSoap12Out">
    <wsdl:part element="tns:dceStatusServicoResult" name="dceStatusServicoResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dceStatusServicoSoap12In">
    <wsdl:part element="tns:dceDadosMsg" name="dceDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DCeStatusServicoSoap12">
    <wsdl:operation name="dceStatusServico">
      <wsdl:input message="tns:dceStatusServicoSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:dceStatusServicoSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCeStatusServicoSoap12" type="tns:DCeStatusServicoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dceStatusServico">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/dce/wsdl/DCeStatusServico/dceStatusServico" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCeStatusServico">
    <wsdl:port binding="tns:DCeStatusServicoSoap12" name="DCeStatusServicoSoap12">
      <soap12:address location="https://dce.fazenda.pr.gov.br/dce/DCeStatusServico"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>