assets/wsdl/homologacao/DCeConsulta.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeConsulta" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeConsulta">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/dce/wsdl/DCeConsulta" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/dce/wsdl/DCeConsulta">
      
  <s:element name="dceDadosMsg">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
      
  <s:element name="dceResultMsg" nillable="true">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="dceConsultaSoap12Out">
    <wsdl:part element="tns:dceResultMsg" name="dceConsultaResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dceConsultaSoap12In">
    <wsdl:part element="tns:dceDadosMsg" name="dceDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DCeConsultaSoap12">
    <wsdl:operation name="dceConsulta">
      <wsdl:input message="tns:dceConsultaSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:dceConsultaSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCeConsultaSoap12" type="tns:DCeConsultaSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dceConsulta">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/dce/wsdl/DCeConsulta/dceConsulta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCeConsulta">
    <wsdl:port binding="tns:DCeConsultaSoap12" name="DCeConsultaSoap12">
      <soap12:address location="https://homologacao.dce.fazenda.pr.gov.br/dce/DCeConsulta"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>